<section>
    <header>
        <h1>Üdvözöljük az Esküvői Helyfoglaló Oldalunkon!</h1>
    </header>
    <div>
        <div id="info">
            <h2>Információk</h2>
            <p>Örömmel fogadjuk Önöket, és izgatottan várjuk, hogy részesei legyenek különleges napjuk megtervezésének. Oldalunkon megtalál minden szükséges információt ahhoz, hogy álmainak esküvőjét valóra váltsa.</p>
            <h3>Tervezze meg álmainak esküvőjét velünk!</h3>
            <p>Csapatunk örömmel áll rendelkezésre, hogy segítsen megtervezni és megvalósítani tökéletes napjukat. Szakértelmünknek és odaadó munkánknak köszönhetően felejthetetlen élményt nyújtunk Önöknek és vendégeiknek.</p>
            <p>Ne habozzon, vegye fel velünk a kapcsolatot még ma!</p>
            <h3>Elérhetőségeink:</h3>
            <div>
                <div>eskuvoihelyszin&#64;gmail.com</div>
                <div>06393999299</div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Esküvői Helyfoglaló Oldal</p>
    </footer>
</section>
