<section>
    <div style="text-align: center;">
        <h2>Üdv!</h2>
        <mat-spinner style="margin-inline: auto;" *ngIf="loading"></mat-spinner>
        <h2>{{ user?.firstName }}  {{ user?.lastName }}</h2>
        <h3>{{ user?.email }}</h3>
        <h3>{{ user?.phoneNumber }}</h3>
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>Helyszín hozzáadás!</mat-expansion-panel-header>
        <app-location-maker [user]="user"></app-location-maker>
    </mat-expansion-panel>
    <div class="sajat-helyszinek">
        <h3>Saját helyszínek:</h3>
        <div class="container">
                    <div *ngFor="let location of locations">
                       <app-profile-location [location]="location" (deleteEvent)="delete(location)"></app-profile-location>
                    </div>
        </div>
    </div>
    <button class="kijelentkezes-button" mat-button (click)="logout()">Kijelentkezés</button>
</section>